<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div id="main">
        <div id="head"><img height="100px" width="1000" src="img/onepiecee.jpg" alt=""></div>
        <div id="head-link">
            <div class="menu">
                    <a href="#">Trang chủ</a>
                    <a href="#">Giới thiệu</a>
                    <a href="#">Thể loại</a>
                    <a href="#">Liên hệ</a>
            </div>
        </div>
        <div id="left">
            <h1>Movie</h1>
            <p><a href="https://animehay.club/thong-tin-phim/one-piece-movie-10-strong-world-1086.html"><img  width="130" height="130" src="img/onepiece2.jpeg" alt="One Piece" title="One Piece : Strong Word"></a></p>
            <p><a href="https://animehay.club/thong-tin-phim/one-piece-stampede-2985.html"><img width="130" height="130" src="img/onepiece4.jpeg" alt="One Piece" title="One Piece : Stampede"></a></p>
            <p><a href="https://animehay.club/thong-tin-phim/one-piece-film-gold-1595.html"><img width="130" height="130" src="img/onepiece3.jpeg" alt="One Piece" title="One Piece : God"></a></p>
        </div>
        <div id="content">
            <h1>Giới thiệu</h1>
            <p>Họ và tên : Đỗ Quang Đại</p>
            <p>Ngày sinh : 24/11/2003</p>
            <p>Học tại FPT Aptech lớp 2208M</p>
            <p>Bên trái là những movie One Piece mình thấy hay nhất và bên phải là thông tin liên hệ của mình</p>
            <p>(Click vào ảnh để xem chi tiết )</p>
        </div>
        <div id="right">
            <h1>Liên hệ</h1>
            <p><a href="https://www.facebook.com/Magnus.203"><img width="125" height="125" src="img/fb1.jpg" alt="Facebook"></a></p>
            <p><a href="https://www.instagram.com/_d.dazi.11_"><img width="125" height="125" src="img/ins1.png" alt="Instagram"></a></p>
            <p><a href="tel:0377817172"><img width="125" height="125" src="img/phone.png" alt="Phone Number"></a></p>
        </div>
        <div id="footer">
            <h2>Đây là trang web làm về layout</h2>
        </div>
    </div>

</body>
</html>