body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}
h1,h2  {
    text-align: center;
}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#head{
    height: 100px;
    background-color: #F5F5F5;
    border: 1px solid #CDCDCD;
    margin-bottom: 5px;
}
#head-link{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CDCDCD;
    background-color: #F5F5F5;
    margin-bottom: 5px;
    clear: both;
}
div.menu a{
    color:red;
    margin-left: 100px;
    margin-right: 50px;
    text-decoration: none;
    font-size:20px
}
#left{
    width: 140px;
    min-height: 495px;
    border: 1px solid #CDCDCD;
    float: left;
    margin-bottom: auto;
    padding-left: 10px;
}
#content{
    width: 600px;
    min-height: 495px;
    border: 1px solid #CDCDCD;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}
#right{
    width: 234px;
    min-height: 495px;
    border: 1px solid #CDCDCD;
    float: right;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#footer{
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #f8f8f8;
}
